/* ORDER PRODUCTS*/

#ordersTable{
    width: 40%;
    border: 1px solid gray;
}
#ordersTable thead{
    background-color: springgreen;
}
#productsTable{
    float: left; 
    width: 70%;
}
.grid-container {
    display: grid;
    grid-template-rows: 600px 300px;
    grid-template-columns: 300px 400px 400px;
    grid-gap: 5px;
    margin-top: 10%;
    margin-left: 3%;
    float: left;
  }
  .grid-container img{
      width:300px;
      height: 400px;
  }
  .grid-container h1{
      font-size: 23px;
      text-align: center;
  }
  .grid-container input{
      width: 18%;
      margin-right: 23px;
  }
#productsTable2{
    float: left; 
    width: 20%;

}
#productsTable3{
    float: right;
    width: 10%;

}
#productsTable2 thead{
    background-color: orange;
}
#productsTable thead{
    background-color: orange;
}
#productsTable3 thead{
    background-color: red;
}
#products{
    margin-top: 5%;
}

/* ORDERS*/
#orders thead{
    background-color: darkorange;
    
}

#productCatalog{
    width: 80%;
    height: auto;
    text-align: center;
    border: 2px solid black;
}
#productCatalog thead{
    background-color: blueviolet;
    
}
#infoProduct tr{
    background-color: blanchedalmond;
font-size: 17px;    
    
}

#pp{
    margin-top: 8%;
}
#mostrarDatos2{
    float: right;
    margin-right: 3%;
    margin-bottom: 12%;
}