<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link th:href="@{/css/orderProduct.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</header>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="Ecommerce">Ecommerce <span class="sr-only"></span></a>

                </li>
                <li class="nav-item active" th:each="order : ${ord}" th:object="${order}">
                    <a class="nav-link" th:href="*{URLEcommerce}" th:text="*{nameUser}">Ecommerce <span
                            class="sr-only">(current)</span></a>

                </li>



                </li>
            </ul>
        </div>
    </nav>
    <!-- 
      <div class="grid-container">
          <span  th:each="product : ${productsOrder}" th:object="${product}">
              <h1 th:text="*{name}"></h1>
        <div class="grid-item1" th:text="*{name}"></div>
        <div class="grid-item2">2</div>
        <div class="grid-item3">3</div>
        <div class="grid-item4">4</div>
        <div class="grid-item5">5</div>
        <div class="grid-item6">6</div>
      </div>
    </span> -->
    <!-- TABALA QUE SACA LOS DATOS DEL PEDIDO -->
    <div class="grid-container">
        <div th:each="pro : ${pro}" th:object="${pro}">
            <h1 th:text="*{name}"></h1>
            <img th:src="*{url}">
            <p th:text="*{price} + €"></p>
            <input class="can" type="number">
            <button th:extraInfo="*{id}" type="button" id="enviar"
                class="btn btn-success">COMPRAR</button>
        </div>




    </div>


    
    <div id="pp">
<h1>Pedido</h1>
        <table id="mostrarDatos">
            <tbody th:each="t : ${productsOrder}" th:object="${t}">
                <tr>
                <li th:text="*{name}"></li>
           
                   
               

                </tr>
            </tbody>

        </table>
        <table id="mostrarDatos2">
            <tbody th:each="pro2 : ${orderproduct}" th:object="${pro2}">
                <tr>
                    <th> <button class="borrar" th:url="@{|/OrderProducts/*{orderProductId}|}"
                            th:extraInfo="*{orderProductId}">Eliminar</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    </div>


</body>
<script>
    //CODIGO PARA BORRRAR UN PEDIDO//
    $(document).ready(function () {
        $(".borrar").click(function () {

            let ID = $(this).attr('extraInfo');
            let URL = $(this).attr('url');
            $.ajax({
                type: 'DELETE',
                url: URL,
                contentType: 'application/json'
            }).done(function (data, textStatus, jqXHR) {
                location.reload();
            });

        });
    });
    

    $(document).ready(function () {
   


        $(".btn").click(function () {
            const urlParams = new URLSearchParams(window.location.search);
const ordersId = urlParams.get('orderId');
            let ID = $(this).attr('extraInfo');
            var data = { 
                cantidad : document.getElementsByClassName('can')[ID-1].value,
                orderId :ordersId ,
                productId:ID
                };

        $.ajax({
                url : 'http://localhost:9092/Ecomemrce',
                data : data, 
                method : 'post', //en este caso
                dataType : 'json',
                success : function(response){
                       //codigo de exito
                },
                error: function(error){
                    location.reload();
                }
        });
      

        });
    });
</script>

</html>