<html xmlns:th="http://www.thymeleaf.org">

</header>

<body>

    <h1>ORDER DETAIL</h1>
    <div>
        <a th:href="@{http://localhost:9092/OrderProducts/new}"><button>Add Product</button></a>
        <a th:href="@{http://localhost:9092/orders}"><button>Orders</button></a>
    </div>
        
    
    <!--   <li th:each="order : ${orderproduct}"
        th:object="${order}" style="margin-top: 3%; list-style: none;">
            <tr>
                <th><span>Cantidad:</span></th>
                <span style="color:red"><th th:text="*{cantidad}"></th></span>
            </tr>
            <br>
       
            <tr>
                <th><span>Product Id:</span></th>
                <span style="color:blue"><th th:text="*{productId}"></th></span>
            </tr>
            <br>
            <tr>
                <th><span>Order Id:</span></th>
                <span style="color:aqua"><th th:text="*{orderId}"></th></span>            
            </tr>
    
    </li>  -->

    <table style="width: 40%;border: 1px solid gray; ">
        <thead style="background-color: springgreen;">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Estado</th>

            </tr>
        </thead>

        <tbody th:each="o : ${ord}" th:object="${o}">
            <th th:text="*{id}"> </th>
            <th th:text="*{nameUser}"> </th>
            <th th:text="*{date}"> </th>
            <th th:text="*{status}"> </th>




        </tbody>
    </table>
    
       <table style="float: left; width: 100%;" >
        <thead style="background-color: red;">
            <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRECIO</th>
            <th>CANTIDAD</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="pro : ${productsOrder}" th:object="${pro}">
               <tr>
                   <th th:text="*{id}"></th>
                   <th th:text="*{name}"></th>
                   <th th:text="*{price}"></th>
                 
 </th:block>  
 <th>
                <th:block th:each="orderproduct : ${orderproduct}" th:object="${orderproduct}"
                    th style="text-align: center" th:text="*{cantidad}"></th:block>
                    
          
      
          </tr>
        </tbody>
       </table>
       


</body>

</html>