<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link th:href="@{/css/orderProduct.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</header>

<body>

    <h1>ORDER DETAIL</h1>
    <!-- BOTONES QUE CREAN ORDERPRODUCT Y EL OTRO LLEVA A LOS ORDERS -->
    <div>
        <a th:href="@{http://localhost:9092/OrderProducts/new}"><button>Add Product</button></a>
    </th:block>
        <a th:href="@{http://localhost:9092/orders}"><button>Orders</button></a>
    </div>
    <!-- TABALA QUE SACA LOS DATOS DEL PEDIDO -->
    <table id="ordersTable"  >
        <thead>

            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Estado</th>

            </tr>
        </thead>

        <tbody th:each="o : ${ord}" th:object="${o}">
            <th th:text="*{id}"> </th>
            <th th:text="*{nameUser}"> </th>
            <th th:text="*{date}"> </th>
            <th th:text="*{status}"> </th>
        </tbody>
    </table>

    <!-- TABLA QUE SACA EL ID, NOMBRE Y PRECIO DE LOS PRODUCTOS DEL PEDIDO -->
    <div id="products">
        <table id="productsTable" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                </tr>
            </thead>
            <tbody  th:each="pro : ${productsOrder}" th:object="${pro}">
                <tr>
                    <th th:text="*{id}"></th>
                    <th th:text="*{name}"></th>
                    <th th:text="*{price} + €">€</th>
                </tr>
            </tbody>
        </table>

        <!-- TABLA QUE MUESTRA LA CANTIDAD DE CADA PEDIDO -->
        <table id="productsTable2">
            <thead>
                <tr>
                    <th>CANTIDAD</th>
                </tr>
            </thead>
            <tbody th:each="orderproduct : ${orderproduct}" th:object="${orderproduct}">
                <tr>
                    <th th:text="*{cantidad}"></th>
                </tr>
            </tbody>
        </table>
        <table id="productsTable3">
            <thead>
                <tr>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody th:each="pro2 : ${orderproduct}" th:object="${pro2}">
            <tr>
                <th><button class="btnDelete2" 
                    th:url="@{|/OrderProducts/*{orderProductId}|}"
                    th:extraInfo="*{orderProductId}">Eliminar</button></th>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

</body>
<script>
    //CODIGO PARA BORRRAR UN PEDIDO//
    $(document).ready(function(){
        $(".btnDelete2").click(function(){
            if(confirm("Eliminar?"))
            {
                let ID = $(this).attr('extraInfo');
                let URL = $(this).attr('url');
                $.ajax({
                    type:'DELETE',
                    url:URL,
                    contentType: 'application/json'
                }).done(function(data, textStatus,jqXHR){
                        location.reload();
                });
            }
        });
         });
   
</script>
</html>