<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link th:href="@{/css/orderProduct.css}" rel="stylesheet"/>

</header>
<body>
    <h1>ORDERS</h1>
    <div>
        <a th:href="@{http://localhost:9092/orders/new}"><button>Add Order</button></a>
    </div>
   <!--  <li th:each="order : ${orders}"
        th:object="${order}">
        <span style="color:black;font-weight: bolder;font-size: 12px; font-family: 'Montserrat', sans-serif;
        ;"
        th:text="*{nameUser}"></span>
        <span style="color:black;font-weight: bolder;font-size: 12px; font-family: 'Montserrat', sans-serif;
        ;"
        th:text="*{id}"></span>
        <a th:href="*{URL}"><button>VER</button></a>

    </li> -->
    <table id="orders">
        <thead >
            <tr>
                <th>ID</th>
                <th>USER</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody th:each="order : ${orders}"
        th:object="${order}">
   
            <td th:text="*{id}"></td>
            <td th:text="*{nameUser}"></td>
            <th th:text="*{date}"></th>
            <td id="status" th:text="*{status}" th:if="*{status == 'Entregado'}" style="color: green;"></td>
            <td id="status"th:text="*{status}" th:if="*{status == 'En Curso'}" style="color: yellow;"></td>
            <td id="status"th:text="*{status}" th:if="*{status == 'Enviado'}" style="color: chartreuse;"></td>
            <td id="status"th:text="*{status}" th:if="*{status == 'Aceptado'}" style="color: blue;"></td>
            
            <th>
                <a th:href="*{URL}"> <button>VER</button></a> 
                 <a> <button class="btnDelete" 
                    th:url="@{|/orders/*{id}|}"
                    th:extraInfo="*{id}" >ELIMINAR</button></a>
            </th>
        
      
        </tbody>
    </table>


</body>
<script>
    //CODIGO PARA BORRRAR UN PEDIDO//
    $(document).ready(function(){
        $(".btnDelete").click(function(){
            if(confirm("Eliminar?"))
            {
                let ID = $(this).attr('extraInfo');
                let URL = $(this).attr('url');
                $.ajax({
                    type:'DELETE',
                    url:URL,
                    contentType: 'application/json'
                }).done(function(data, textStatus,jqXHR){
                    window.location = "/orders"
                });
            }
        });
         });
   
</script>
</html>